<div class="article">
  <h3>
    <% if has_link %>
      <%= link_to(article_path(article)) do %>
        <%= article.title %>
      <% end %>
    <% else %>
      <%= article.title %>
    <% end %>
  </h3>
</div>
